<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap">

	<Identity
	  Name="66e75bd3-7464-471f-a2ba-8362a6029111"
	  Publisher="CN=star"
	  Version="1.0.0.0" />

	<Properties>
		<DisplayName>OpenCommand</DisplayName>
		<PublisherDisplayName>rager 518</PublisherDisplayName>
		<Logo>Images\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="OpenCommand.App">
			<uap:VisualElements
			  DisplayName="Open Command"
			  Description="This app add a shortcut context menu item to lanuch Command Exe.You can select any empty area ,and right click to use it."
			  BackgroundColor="transparent"
			  Square150x150Logo="Images\Square150x150Logo.png"
			  Square44x44Logo="Images\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square310x310Logo="Images\Square310x310Logo.png" Square71x71Logo="Images\Square71x71Logo.png">
					<uap:ShowNameOnTiles>
						<uap:ShowOn Tile="square310x310Logo"/>
					</uap:ShowNameOnTiles>
				</uap:DefaultTile >
				<uap:SplashScreen Image="Images\SplashScreen.png" />
			</uap:VisualElements>
			<Extensions>
				<!--<desktop:Extension Category="windows.startupTask" 
						   Executable="OpenCommand.exe" EntryPoint="Windows.FullTrustApplication">
					<desktop:StartupTask TaskId="OpenCommandTask" Enabled="true" DisplayName="Open Command App"/>
				</desktop:Extension>-->
				<uap:Extension Category="windows.appService">
					<uap:AppService Name="CommunicationService" />
				</uap:Extension>
				<desktop:Extension Category="windows.fullTrustProcess" Executable="OpenCommandBgService\OpenCommandBgService.exe" >
				<!--<desktop:FullTrustProcess>
					<desktop:ParameterGroup GroupId="Background" Parameters="/background" />
					<desktop:ParameterGroup GroupId="Write" Parameters="/write" />
				</desktop:FullTrustProcess>-->
				</desktop:Extension>
				<uap3:Extension Category="windows.appExecutionAlias" Executable="OpenCommandWriteService\OpenCommandWriteService.exe" EntryPoint="Windows.FullTrustApplication">
					<uap3:AppExecutionAlias>
						<desktop:ExecutionAlias Alias="OpenCommandWriteService.exe" />
					</uap3:AppExecutionAlias>
				</uap3:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<Capability Name="internetClient" />
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>
